VITE_API_URL=http://localhost:8080/api/v1

# true = frontend trabaja con mocks sin esperar microservicios
VITE_USE_MOCKS=false

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
